@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inventory.Supplier.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene_Web_App.Inventory.SupplierGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>