@import "site.mixins.less";


.s-Inventory-ProductDialog {
    > .size {
        width: 650px;
        height: 500px;
    }

    .caption {
        width: 150px;
    }
}

.s-Inventory-CategoryDialog {
    > .size { width: 450px; }
    .caption { width: 150px; }
}

.s-Inventory-SupplierDialog {
    > .size { width: 550px; }

    .caption {
        width: 150px;
    }
}

.s-Inventory-SupplierProductDialog {
    > .size { width: 650px; }

    .caption {
        width: 150px;
    }
}

.s-Inventory-SupplierProdDialog {
    > .size { width: 500px; }

    .caption {
        width: 150px;
    }
}